 <!-- <h1>hello {{title}}</h1>
 <div>
  <h1>movie title:{{movie.title}}</h1>
  <p>rating is:{{movie.rating}}</p>
  <p>relasedate is:{{movie.date}}</p>
  <img src={{movie.image}} width="200px" height="200px">
   interplation -->
  <!--<img [src]='movie.image' width="200px" height="200px">--><!--property binding -->
  <!-- <button [disabled]="isDisabled">show details</button> -->
  <!-- <button (click)="printtoconsole()">show details</button>
  <div>
  <input type="text" name="first-name" id=""[(ngModel)]='firstName'>two way binding -->
    <!-- <p>{{firstName}}</p>
  </div> -->

  <!-- <form  method="get">
    <input type="text" name="first name" id="" required>
    <input type="submit" value="login">
  </form> -->
 <!--</div>-->
 <!-- <app-welcome></app-welcome> -->

<div>
 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:10px;margin:20px;padding-bottom: 10px;">
  <div class="navbar-brand">MoviesApp</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" > <span class="sr-only">Home</span></a>
      <a class="nav-item nav-link" routerLink="/movies">Home</a>
      <a class="nav-item nav-link"  routerLink="/tvs">TVS</a>

    </div>
  </div>
</nav>
</div>
 <div>
  <!-- <h1>movie title:{{movie.title}}</h1>

  <p>relasedate is:{{movie.date}}</p>
  <img src={{movie.image}} width="200px" height="200px">
   interplation -->
  <!--<img [src]='movie.image' width="200px" height="200px">--><!--property binding -->
  <!-- <button [disabled]="isDisabled">show details</button> -->
  <!-- <button (click)="printtoconsole()">show details</button>
  <div>
  <input type="text" name="first-name" id=""[(ngModel)]='firstName'>two way binding -->
    <!-- <p>{{firstName}}</p>
  </div> -->
 <div class="container mt-5">
  <!-- <h1> welcome to {{title}}</h1> -->
<!-- <router-outlet></router-outlet> -->
<app-movieslist></app-movieslist>
 </div>
 <!-- Footer -->
<footer class="text-center text-white" style="background-color: #45637d;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Iframe -->
    <section class="">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="ratio ratio-16x9">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/CMCvC_xUvNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Iframe -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">mywebsite.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


